<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="marketing.Properties.Settings.virConnectionString"
            connectionString="Data Source=ANDRAS-NB\SQLSERVER;Initial Catalog=vir;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="marketing.Properties.Settings.marketingConnectionString"
            connectionString="Data Source=ANDRAS-NB\SQLEXPRESS;Initial Catalog=marketing;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0"/>
  </startup>
</configuration>
